body{
    margin: 0;
    padding: 0;
    background-color: #C63D2F;
    overflow: hidden;
    height: 100vh;

}
#di-preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #C63D2F url('/images/loader-fk.gif') no-repeat center center;
}
.di-logo img{
    position: relative;
    left: 5%;
    top: -20px;
    width: 10%;
}
.di-desc{
    position: relative;
    left: 10%;
    color: #FFBB5C;
    top: -40px;
    font-family: 'Italiana', sans-serif;
}
.di-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    background-color: #FFBB5C;
    height: 100%;
}
.di-container h1{
    color: #C63D2F;
    font-size: 75px;
    position: relative;
    top: 10px;
    text-align: center;
   font-family: 'Italiana', sans-serif;
}
.di-container  a{
    color:#C63D2F;
    text-decoration: none;
}
.di-container ul{
    text-align: center;
}
.active{
   font-weight: bold;
}
.di-container ul li{
    letter-spacing: 5px;
    display: inline;
    list-style: none;
    text-decoration: none;
    color: #C63D2F;
    font-size: 20px;
    margin-left: 4%;
}
.di-container .preview{
    position: relative;
    top: -150px;
    left: -18.9%;
    width: 38%;
    z-index: 1;
}
.di-container .next{
    position: absolute;
    top: 80px;
    right: 5px;
    width: 40%;
}
.di-container .di-link{
    position: absolute;
    top: 183px;
    right: 647px;
    cursor: pointer;
    height: 50px;
    opacity: 50%;
    z-index: 4;
}
.di-container h1{
    position: relative;
    text-align: left;
    display: inline-block;
    top: 390px;
    letter-spacing: 5px;
    font-family: 'Italiana', sans-serif; 
    left: 90px;
    z-index: 2;
}
.di-btn-up{
    padding: 0;
    margin: 0;
    outline: none;
    background-color: #C63D2F;
    position: relative;
    left: 250px;
    top: -450px;
}
.di-btn-down{
    padding: 0;
    margin: 0;
    outline: none;
    background-color: #FFBB5C;
    position: relative;
    top: -100px;
    left: 100px;
}
.di-link{
    position: relative;
    top:12%;
    left: 12.9%;
    width: 6.2%;
}
/* !responsiveness */
@media only screen and (max-width : 450px) { 
    .di-logo img{
        width: 20%;
        z-index: 2;
    }
    .di-link{
    position: relative;
    padding: 0;
    top: 100px;
    left: 60%;
    width: 10%;
}
.di-container ul li a{
    color: #FFBB5C;
}
.di-container ul{
    position: relative;
    top: 5%;
    left: -12%;
}
.di-btn-up{
    z-index: 2;
    top: -25%;
}
.di-btn-up img{
    
    width: 50px;
}
.di-btn-down img{
    width: 50px;
}
.di-btn-down{
    position: relative;
    z-index: 2;
    left: 15%; 
    top: 220px;
}
    .di-container{
        background-color: #C63D2F;
        color: #FFBB5C;
        width: 100%;
        left:0;
        z-index: 1;
    }
    .di-container .preview{
        position: relative;
        left: 20%;
        width: 50%;
        top:-180px
    }
    .di-first{
        display: none;
    }
    .next{
        display: none;
    }
  
    p.di-desc{
        top: 50%;
        left: 3%;
        z-index: 2;
    }
}