body{
    margin: 0;
    padding: 0;
    background-color: #C63D2F;
    overflow: hidden;
    height: 100vh;
}
#di-preloader{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: #C63D2F url('/images/loader-fk.gif') no-repeat center center;
}
.di-logo img{
    position: relative;
    left: 1%;
    top: -20px;
    width: 10%;
}

.di-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    background-color: #FFBB5C;
    height: 100vh;
}

.di-container  a{
    color:#C63D2F;
    text-decoration: none;
}
.di-container ul{
    text-align: center;
    margin-bottom:10%;
}
.active{
   font-weight: bold;
}
.di-container ul li{
    letter-spacing: 5px;
    display: inline;
    list-style: none;
    text-decoration: none;
    color: #C63D2F;
    font-size: 100%;
    margin-left: 5%;
}
.di-trend1{
    position: relative;
    top: -7%;
    margin-left: 5%;
}
.di-trend2{
    position: relative;
    left: -10%;
}
.di-trend-title{
    font-size: 70px;
    font-weight: bold;
    color: #C63D2F;
    position: relative;
    top: 15px;
    left: 20px;
    font-family: "Italiana",sans-serif;
}
/* !responsiveness */
@media screen and (max-width: 1305px){
    .di-logo img{
        z-index: 10;
    }
.di-container img{
    display: none;
}
.di-trend1{
    top: 2%;
    width: 40%;
}
.di-container{
    background-color: #C63D2F;
width: 100%;
left: 0;
}
.di-container ul li a{
    left: 0;
    color: #FFBB5C;
}
.di-trend-title {
    color: #FFBB5C;
    left: 50%;
    top: 45%;
}
}
@media screen and (max-width: 820px){
    .di-logo img{
        width: 15%;
    }
 .di-trend1{
    width: 50%;
 }
 .di-trend-title {
    color: #FFBB5C;
    left: 60%;
    top: 45%;
}
}
@media screen and (max-width: 720px){
    .di-container ul{
        position: relative;
        margin-top: 10%;
        width: 100%;
        left: -10%;
    }
    .di-container ul li{
        margin-top: 1%;
        display: block;
        background-color: #FFBB5C;
    }
    .di-container ul li a{
        color: #C63D2F;
    }
    .di-trend1
    {
        margin-top: 10%;
    }
    .di-trend-title{
        left: 5%;
        top:50%;
    }
}
@media screen and (max-width: 650px){
    .di-container ul{
        left: -12%;
    }
    .di-trend1
    {
        margin-top: 25%;
    }
    .di-trend-title{
        left: 5%;
        top:45%;
    }
}
    
/* !Trend 1 design */

.di-title-style{
    color: #C63D2F;
    font-size: 40px;
    margin-left: 40px;
    font-family: 'Italiana', sans-serif;

}
.di-desc-style{
    color: #C63D2F;
    font-size:25px ;
  
    margin-left: 40px;
}